@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color : #E6533C;
    --white-2 : rgba(255, 255, 255, 0.5);
}
body {
    background-color: #000000;
    color: white;
    font-family: "Inter", sans-serif;
}

/* Shared styles */
section {
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}
h1 {
    font-size: 2rem;
}
button {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}
button > a {
    text-decoration: none;
    color: white;
}
.primary-btn {
    background-color: var(--primary-color);
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    color: white;
}
/* Nav styles */
header {
    background: linear-gradient(to top, rgba(17, 17, 17, 1), rgba(119, 119, 119, 0));
}
header section:first-child {
    margin-bottom: 30px;
}
.navlogo > #menu-bar{
    display: none;
    cursor: pointer;
}
.navlogo h1 {
    color: var(--primary-color);
    font-style: italic;
}
.navlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
.nav-items ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 44px;
    list-style-type: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}
.nav-items ul li {
    padding: 8px 20px;
    border-radius: 15px;
}
.nav-items ul li a {
    text-decoration: none;
    color: white;
}
.nav-items ul #home {
    background-color: var(--primary-color);
}
/* Hero section */
.hero {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.hero-details {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.hero-details h1 {
    font-size: 3.5rem;
    width: 70%;
}
.hero-details h1 > span {
    font-family: "Dancing Script", cursive;
}
.hero-details p {
    color: var(--white-2);
    font-size: 0.8rem;
    width: 80%;
}
.download-btn {
    background: none;
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 10px;
}
.hero-bg-img {
    background-image: url("../images/hero-bg.png");
    background-size: contain;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}
.freevideos, .tutorial-videos {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    width: 180px;
}
.freevideos p , .tutorial-videos p {
    font-size: 0.8rem;
}
.tutorial-videos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    left: 0;
    bottom: 13%;
}
.freevideos {
    position: absolute;
    right: 15%;
    top: 13%;
}
.tutorial-videos-box {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 50%;
}
/* Change habit section */
.change-habit-details h1{
    text-align: center;
}
.change-habit-details p {
    text-align: center;
    margin: 10px 0px;
}
.change-habit-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
    margin-top: 50px;
}
.habit-card img {
    border-radius: 50%;
}
.habit-card {
    text-align: center;
}
.habit-card h3 {
    margin: 20px 0px;
}
.habit-card p {
    width: 90%;
    margin: auto;
    color: var(--white-2);
}

/* Our focus section */
.our-focus {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 48px;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
    padding: 30px 40px;
    border-radius: 20px;
}

.our-focus-details-img img {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}
.our-focus-details {
    width: 80%;
}
.our-focus-details h1 {
    width: 65%;
}
.our-focus-details p {
    color: var(--white-2);
    margin: 20px 0px;
    line-height: 1.6rem;
}
/* Bmi calculator */

.bmi-calc-details {
    width: 70%;
    margin: 0px auto 40px auto;
}
.bmi-calc-details p {
    margin-top: 10px;
    color: var(--white-2);
}

.bmi-calculator-section {
    background-color: #222222;
    padding: 30px 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5%;
    justify-content: space-between;
}
.bmi-calculator-table > h2 {
    margin-bottom: 40px;
}

.bmi-calculator-table table, th, tr, td {
    border: 1px solid var(--white-2);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
.bmi-calculator-table table > tbody > tr {
    color: var(--white-2);
}

.bmi-calculator p{
    color: var(--white-2);
    margin: 20px 0px;
}
.bmi-calculator {
    width: 50%;
}
.bmi-calculator form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}
.bmi-calc-row2, .bmi-calc-row1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    width: 100%;
}
.bmi-calc-row3 {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
.bmi-calculator form button {
    width: 180px;
}
.bmi-calculator form input, select, option{
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-2);
    width: 100%;
}
.select-option{
    color: var(--white-2);
    background-color: black;
}

/* Meet our team */
.team-card img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
.team-card {
    position: relative;
}

.team-card-details {
    position: absolute;
    left: 20px;
    bottom: 15px;
}
.team-card-details h1 {
    font-size: 1.1rem;
}

.team-card-details p {
    color: var(--white-2);
}
.meet-our-team-cards {
    background-color: #222222;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.meet-our-tem-details {
    text-align: center;
    margin-bottom: 40px;
}
.meet-our-tem-details p {
    color: var(--white-2);
    width:  60%;
    margin: 20px auto 0px auto;
    line-height: 1.5rem;
}
/* Our packages section */
.our-packages {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: #222222;
    padding: 20px;
    border-radius: 20px;
}
.packages-card{
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--white-2);
    border-radius: 20px;
    transition: 0.5s ease;
}
.packages-card:hover{
    transform: scale(1.03);
}
.package-card-details {
    padding: 20px;
}
.package-card-details h2 {
    color: white;
}
.packages-card ul {
    list-style-type: none;
    margin: 20px 0px;
}
.packages-card ul li i{
    margin-right: 10px;
}
.packages-card ul li {
    margin-bottom: 10px;
}
.packages-card ul li .fa-circle-xmark{
    color: red;
}
.packages-card ul li .fa-circle-check{
    color: green;
}
.packages-card img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 200px;
}
.package-enroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.package-enroll h3 {
    color: white;
}
.our-packages-details{
    text-align: center;
    margin-bottom: 50px;
}
.our-packages-details p {
    margin-top: 10px;
    color: var(--white-2);
    font-size: 0.9rem;
}

/* Footer */
footer {
    background-color: #222222;
    padding: 40px 0px;
}
.footer-details {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}
.social-links h1 {
    margin-bottom: 20px;
}
.social-links ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-links ul li a{
    text-decoration: none;
    color: var(--white-2);
    transition: 0.5s ease;
}
.social-links ul li a:hover {
    color: var(--primary-color);
}
.footer-about h1 {
    color: var(--primary-color);
    font-style: italic;
    margin-bottom: 20px;
    font-size: 3rem;
}

.footer-about p {
    font-size: 0.9rem;
    color: var(--white-2);
    line-height: 1.5rem;
}

footer section hr {
    margin: 40px 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
footer section .copyright-alert {
    text-align: center;
    color: var(--white-2);
    font-weight: 0.9rem;
}
footer section {
    margin-bottom: 0;
}



/* Tablet styles */

@media screen and (max-width: 768px) {
    
    .hero {
        grid-template-columns: 1fr;
    }
    /* Nav bar */
    .nav-items {
        display: none;
    }
    .navlogo > #menu-bar {
        display: block;
    }
    .navlog {
        width: 100%;
    }
    /* Change habit cards */
    .change-habit-cards {
        grid-template-columns: repeat(2,1fr);
        row-gap: 24px;
    }
    /* Our focus section */
    .our-focus-details h1 {
        width: 100%;
    }
    .our-focus-details {
        width: 100%;
    }
    /* Bmi calc */
    .bmi-calc-details {
        margin: 0px 0px 40px 0px;
    }
    .bmi-calculator-section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
    }
    .bmi-calculator {
        width: 100%;
    }
    /* Team card row */
    .meet-our-team-cards {
        grid-template-columns: repeat(2,1fr);
    }
    /* Footer */
    .footer-details {
        grid-template-columns: repeat(2,1fr);
    }
    /* Our packages */
    .our-packages {
        grid-template-columns: 1fr;
    }
    .packages-card img {
        height: 300px;
    }
}


/* Mobile device */
@media screen and (max-width:576px) {

    body {
        padding: 30px;
    }
    
    /* Hero */
    .hero {
        grid-template-columns: 1fr;
    }
    .freevideos {
        right: 0;
    }
    .hero-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    /* Change habit cards */
    .change-habit-cards {
        grid-template-columns: 1fr;
        row-gap: 24px;
    }
    /* Our focus section */
    .our-focus{
        grid-template-columns: 1fr;
    }
    /* Bmi calculator section */
    
    .meet-our-team-cards {
        grid-template-columns: 1fr;
    }
    .meet-our-tem-details p {
        width: 100%;
    }
    /* Footer */
    .footer-details {
        grid-template-columns: 1fr;
    }
    .packages-card img {
        height: 200px;
    }

}
